@import url('https://fonts.googleapis.com/css2?family=Anton&family=Joan&family=Kdam+Thmor+Pro&family=Montserrat:wght@100&display=swap');



#mainAdd{
    display: flex;
    justify-content: center;
    background-color: #01FF70;
    margin-top: 10% 10%;
    padding: 400px 0px;
    font-size: 40px;
    font-family: 'joan';
}

.addInp{
    font-size: 20px;
    align-items: center;
    padding: 5px 0px;
    text-align: center;
    margin-right: 10px;
    font-family: 'joan';
}

#addMainBtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    justify-content: space-around;
}

.mainAddComp{
    font-size: 25px;
    font-family: 'joan';
}