

#homeProducts{
    display: block;
    padding: 32px;
    margin-bottom: 200px;
}

.homeChild:hover{
    cursor: pointer;
}
.homeChild{
  /* background-color: rgb(31, 46, 25); */
    border: solid 1px black;
    margin-bottom: 16px;
    padding: 16px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#title{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  padding: 20px 0px;
}

  
.mainImage{
  height: 100px;
  padding: 20px 0px;
}