* {
    margin: 0;
    padding: 0;
}

#main-nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
}

.parent{
    display: flex;
}

.children{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
}